server:
  port: 8085
  context-path: /cmfz
  jsp-servlet:
      init-parameters:
       development: true
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/cmfz
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
  mvc:
   view:
     prefix: /
     suffix: .jsp



  http:
    encoding:
      charset: utf-8
      force: true
    multipart:
       max-file-size: 10MB
       max-request-size: 100MB


mybatis:
  type-aliases-package: com.baizhi.entity
  mapper-locations: classpath:com/baizhi/mapper/*Mapper.xml



